<%include header.ejs%>
<div class="ui container inverted segment">
	<h1>Edit Event</h1>
</div>
	<form method="POST" class='ui container form'>
		<% include messages.ejs%>
		<div class="field">
			<label>Event Id</label>
			<input type="number" name="id" value="<%=event.eventid%>" readonly>
		</div>
		<div class="field">
			<label>Title*</label>
			<input type="text" name="title" autofocus required placeholder="Title" value="<%=event.title%>">
		</div>
		<div class="field">
		    <label>Content*</label>
		    <textarea required name="content"><%=event.content%></textarea>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Date</label>
				<input type="date" name="date" required value="<%=moment(event.date).format("YYYY-MM-DD")%>">
			</div>
			<div class="field">
				<label>Image URL</label>
				<input type="text" name="imgurl" placeholder="Title" value="<%=event.imgurl%>">
			</div>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Venue</label>
				<input type="text" name="venue" value="<%=event.venue%>">
			</div>
			<div class="field">
				<label>Webpage URL</label>
				<input type="text" name="webpagelink" value="<%=event.webpagelink%>">
			</div>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Time</label>
				<input type="text" name="time" value="<%=event.time%>">
			</div>
			<div class="field">
				<label>Contact 1</label>
				<input type="text" name="contact1" value="<%=event.contact1%>">
			</div>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Contact 2</label>
				<input type="text" name="contact2" value="<%=event.contact2%>">
			</div>
			<div class="field">
				<label>Email</label>
				<input type="email" name="email" value="<%=event.email%>">
			</div>
		</div>
		<button class="ui button blue">Edit</button>
		<a class="ui button red" href="/events">Back</a>
	</form>
<%include footer.ejs%>

